.wrapper-icon {
  display: inline-flex;
  list-style: none;
}

.wrapper-icon .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-icon .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #000;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-icon .tooltip::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-icon .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper-icon .icon:hover span,
.wrapper-icon .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper-icon .facebook:hover,
.wrapper-icon .facebook:hover .tooltip,
.wrapper-icon .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper-icon .twitter:hover,
.wrapper-icon .twitter:hover .tooltip,
.wrapper-icon .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}

.wrapper-icon .instagram:hover,
.wrapper-icon .instagram:hover .tooltip,
.wrapper-icon .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper-icon .github:hover,
.wrapper-icon .github:hover .tooltip,
.wrapper-icon .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper-icon .discord:hover,
.wrapper-icon .discord:hover .tooltip,
.wrapper-icon .discord:hover .tooltip::before {
  background: #5865f2;
  color: #ffffff;
}

.wrapper-icon .website:hover,
.wrapper-icon .website:hover .tooltip,
.wrapper-icon .website:hover .tooltip::before {
  background: rgb(42, 223, 255);
  color: #ffffff;
}

@media (max-width: 768px) {
  .wrapper-icon .icon {
    width: 30px;
    height: 30px;
  }
}
